@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.3s ease-out forwards;
}


@keyframes bg-slide-up-fade {
   0% {
    transform: translateY(-100%); /* start above */
    opacity: 0;
  }
  100% {
    transform: translateY(0%); /* end at normal position */
    opacity: 1;
  }
}

.animate-bg-slide-up-fade {
animation: bg-slide-up-fade 1.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;}






